.ElementRenderer {
    position: relative;
    margin: 10px 0;
}

.ElementRenderer .edit-options {
    width: fit-content;
    position: absolute;
    display: flex;
    align-items: center;
    top: -50px;
    left: 0;
    border-radius: 5px;
    z-index: 500;
}

.ElementRenderer:first-child .edit-options {
    top: 0;
    left: 0;
}

.ElementRenderer .edit-options button:first-child {
    margin-right: 5px;
}

.ElementRenderer .edit-options button {
    width: 35px;
    height: 35px;
    background-color: var(--light-grey-color);
    border: 1px solid var(--dark-grey-color);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}